@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-center {
  position: relative;
}

.underline-center::after {
  @apply block w-1/12 h-0.5 bg-black mx-auto absolute left-0 right-0;
  content: '';
  bottom: -1.5rem;
}

.w-55 {
  width: 70%;
}
.footer-logo{
  padding-left: 10rem;
}

.footer-links{
  padding-left: 8rem;
}

.footer-right{
  padding-right: 10rem;
}